
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
    list-style: none;
    text-decoration: none;
}

/*Header Section Starts*/
header{
border: 1px solid black;
display: flex;
justify-content: space-between;
align-items: center;
padding: 1vw;
}

.logo{
    font-weight: 200;
}

#menu-btn{
    display: none;
}

.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 60%;
}

.nav a{
    color: #000;
}

.nav a:hover{
    color: rgb(71, 69, 69);
}

@media screen and (max-width:730px) {
  
#menu-btn{
    display:block;
    cursor: pointer;
}

#menu-btn:hover{
    color: #333;
    z-index: 999;
}
    .nav{
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #fff;
        top: 50px;
        left: -100%;
        text-align: center;
        transition: all .5s;
        align-items: center;
        flex-direction: column;
        z-index: 20;
        border: 1px solid black;
    }

    .nav.active{
        left: -.1%;
    }
    
    .fa-times{
        color: black;
        z-index: 999;
    }
}

@media screen and (max-width: 350px) {
    .logo{
        font-size: 18px;
    }
}


/*Landing Section Starts*/

#land{
    width: 100%;
    min-height: 80vh;
    background-image: url(imgs/hm.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}


.land .land-content{
    position: absolute;
    width: 100%;
    padding: 1vw;
    align-items: center;
    top: 20%;
}

.land .land-content h1{
    padding: 1vw;
    background: #fff;
    width: 36vw;
    letter-spacing: 1vw;
    font-size: 4vw;
    margin-left: 2vw;
}

.land .land-content h4{
    padding: 1vw;
    background: #fff;
    width: 50vw;
    margin-top: 2%;
    letter-spacing: 1px;
    font-size: 2.4vw;
    font-weight: 300;
    margin-left: 2vw;
}

@media screen and (max-width:730px) {
    
.land .land-content{
    width: 100%;
    top: 40%;
}

.land .land-content h1{
    padding: 1vw;
    background: #fff;
    width: 60%;
    letter-spacing: 1vw;
    font-size: 6vw;
    margin-left: 2vw;
}

.land .land-content h4{
    padding: 1vw;
    background: #fff;
    width: 94%;
    margin-top: 2%;
    letter-spacing: 1px;
    font-size: 4.5vw;
    font-weight: 300;
    margin-left: 2vw;
}

}

@media screen and (max-width:400px) {
    #land{
        min-height: 40vh;
}
}


/*Services Section*/

#services{
    width: 100%;
    min-height: 80vh;
    background-image: url(imgs/hm2.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}


.services .serv-container{
    position: absolute;
    width: 100%;
    padding: 1vw;
    align-items: center;
    top: 20%;
}

.services .serv-container h1{
    padding: 1vw;
    background: #fff;
    width: 36vw;
    letter-spacing: 1vw;
    font-size: 4vw;
    margin-left: 2vw;
}

.services .serv-container h4{
    padding: 1vw;
    background: #fff;
    width: 95vw;
    margin-top: 2%;
    letter-spacing: 1px;
    font-size: 2.4vw;
    font-weight: 300;
    margin-left: 2vw;
}


@media screen and (max-width:730px) {
    
    .services .serv-container{
        width: 100%;
        top: 40%;
    }
    
    .services .serv-container h1{
        padding: 1vw;
        background: #fff;
        width: 60%;
        letter-spacing: 1vw;
        font-size: 6vw;
        margin-left: 2vw;
    }
    
    .services .serv-container h4{
        padding: 1vw;
        background: #fff;
        width: 94%;
        margin-top: 2%;
        letter-spacing: 1px;
        font-size: 4.5vw;
        font-weight: 300;
        margin-left: 2vw;
    }
    
}

@media screen and (max-width:400px) {
    #services{
        min-height: 45vh;
}
}